#ratio_2_1 {
  padding-block-start: calc((400 / 800) * 100%);
}

#ratio_16_9 {
  padding-block-start: calc((450 / 800) * 100%);
}

#ratio_4_3 {
  padding-block-start: calc((600 / 800) * 100%);
}

#ratio_1_1 {
  padding-block-start: calc((800 / 800) * 100%);
}

:root {
  --min-width:400;
  --max-width:800;
  --base-value: 100%;

}

.ratio {
  --width: calc(var(--min-width) / var(--max-width));
  padding-block-start: calc(var(--width) * var(--base-value));
}
