#ratio_2_1 {
  --width: 800;
  --height: 400;
}

#ratio_16_9 {
  --width: 800;
  --height: 450;
}

#ratio_4_3 {
  --width: 800;
  --height: 600;
}

#ratio_1_1 {
  --width: 800;
  --height: 800;
}

:root {
  --conversion-rate: 100%;

}

.ratio {
  padding-block-start: calc(var(--width) / var(--height) * var(--conversion-rate));
}
