body {
  width: 600px;
  height: 400px;
  border: 1px solid gray;
  display: table;
}
header h1 {
    margin-left: 8px;
    text-align: start;
}

section {
  display: table-row;
}

section h2 {
  display: table-cell;
  table-layout: fixed;
  vertical-align: middle;
  padding: 12px;
  padding-left: 80px;
  font-weight: bolder;
}
section p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 2px;
  padding-right:20px;
  padding-bottom:15px;
}
footer {
  margin-top: 25px;
  margin-left: 8px;
}
