/* Set up */
.button {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1;
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgb(191,0,0);
  color: rgb(255,255,255);
  border-radius: 0.5rem;
}

/* 10 */

[data-example="10"] .icon_favourite span::before {
  content: "";
  background-image: url(../images/icon_heart.svg);
  display: inline-block;
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
  width: 1rem;
  height: 1rem;
}
[data-example="10"] .icon_favourite span {
  padding-inline-end: 1rem;

}


/* 11 */
[data-example="11"] .icon_favourite span::before {
  content: "";
  background-image: url(../images/icon_heart.svg);
  display: inline-block;
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
  width: 1rem;
  height: 1rem;
}
[data-example="11"] .icon_favourite span {
  padding-inline-end: 1rem;

}

/* 12 */
[data-example="12"] .icon_favourite span::before {
  content: "";
  background-image: url(../images/icon_heart.svg);
  display: inline-block;
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
  width: 1rem;
  height: 1rem;
}

[data-example="12"] .icon_favourite span {
  padding-inline-end: 1rem;

}
