/*
#c_and_i .row a                 { background-color: hsla(200deg, 100%, 50%, 0.1);}
#c_and_i .row a + a             { background-color: hsla(200deg, 100%, 50%, 0.2);}
#c_and_i .row a + a + a         { background-color: hsla(200deg, 100%, 50%, 0.3);}
#c_and_i .row a + a + a + a     { background-color: hsla(200deg, 100%, 50%, 0.4);}
#c_and_i .row a + a + a + a + a { background-color: hsla(200deg, 100%, 50%, 0.5);} */
/*
  … etc …

  This would get crazy if I had to write out each and every anchor within each row, setting the unique `hsla()` per anchor.
*/

:root {
  --root-hue:36deg;
  --root-opacity: 0.1;
}

.row a {
  background-color: hsla(var(--hue), 100%, 50%, var(--opacity));
}

.row:nth-of-type(1) {
  --hue:calc(var(--root-hue) * 1);
}



  .row:nth-of-type(2) {
  --hue: calc(var(--root-hue) * 2);
}

.row:nth-of-type(3) {
  --hue:calc(var(--root-hue) * 3);
}


.row:nth-of-type(4) {
  --hue:calc(var(--root-hue) * 4);
}

  .row:nth-of-type(5) {
  --hue: calc(var(--root-hue) * 5);
}

.row:nth-of-type(6) {
  --hue:calc(var(--root-hue) * 6);
}

.row:nth-of-type(7) {
  --hue:calc(var(--root-hue) * 7);
}

  .row:nth-of-type(8) {
  --hue: calc(var(--root-hue) * 8);
}

.row:nth-of-type(9) {
  --hue:calc(var(--root-hue) * 9);
}

.row:nth-of-type(10) {
  --hue:calc(var(--root-hue) * 10);
}


.row a:nth-of-type(1) {
  --opacity : calc(var(--root-opacity) * 1);
}
.row a:nth-of-type(2) {
  --opacity: calc(var(--root-opacity) * 2);

}
.row a:nth-of-type(3) {
  --opacity: calc(var(--root-opacity) * 3);
}

.row a:nth-of-type(4) {
  --opacity: calc(var(--root-opacity) * 4);

}

.row a:nth-of-type(5) {
  --opacity: calc(var(--root-opacity) * 5);
}

.row a:nth-of-type(6) {
  --opacity: calc(var(--root-opacity) * 6);

}
.row a:nth-of-type(7) {
  --opacity: calc(var(--root-opacity) * 7);
}

.row a:nth-of-type(8) {
  --opacity: calc(var(--root-opacity) * 8);

}

.row a:nth-of-type(9) {
  --opacity: calc(var(--root-opacity) * 9);
}

.row a:nth-of-type(10) {
  --opacity: calc(var(--root-opacity) * 10);
}



