/*
#c_and_i .row a                 { background-color: hsla(200deg, 100%, 50%, 0.1);}
#c_and_i .row a + a             { background-color: hsla(200deg, 100%, 50%, 0.2);}
#c_and_i .row a + a + a         { background-color: hsla(200deg, 100%, 50%, 0.3);}
#c_and_i .row a + a + a + a     { background-color: hsla(200deg, 100%, 50%, 0.4);}
#c_and_i .row a + a + a + a + a { background-color: hsla(200deg, 100%, 50%, 0.5);} */
/*
  … etc …

  This would get crazy if I had to write out each and every anchor within each row, setting the unique `hsla()` per anchor.
*/

:root {
  --hue : 36deg;
  --row-number: 1;
  --hue-multiplier: calc(var(--hue) * var(--row-number));
  --opacity-multiplier: cacl(var(--opacity) * var(--opacity-number));
  --opacity-number: 1;
  --opacity: 0.1;
  background-color: cacl(var(--hue-multiplier), 100%, 50%, var(--opacity-multiplier));
}

  /* --base-opacity: 0.1;
  --increment: 0.1;
  --second-opacity: calc(var(--base-opacity) + var(--increment));
  --third-opacity: calc(var(--second-opacity) + var(--increment));
  --fourth-opacity: calc(var(--third-opacity) + var(--increment));
  */



  .row:nth-of-type(1) {
  --row-number: 1;
}

.row:nth-of-type(2) {
  --row-number : 2;
}
a:nth-of-type(1) {


}
a:nth-of-type(2) {

}

