nav.breadcrumb {
  padding: 1rem;
  list-style: none;
  background-color: grey;
}


nav.breadcrumb ol li {
  display: inline;
  font-size: 1.2rem;
}

nav.breadcrumb li+li::before {
  padding: 1rem;
  color: black;
  content: '►';
}

nav.breadcrumb li a {
  color: white;
  text-decoration: none;
}

