/* Pseudo-element
1- The special property that we need to set to element in order to make pseudo-element works is
a content property.

2- The founction that we can use in that property is a counter ()

3- The various pseudo-elements are ::first-letter, ::first-line,	::selection, ::after, and ::before, ::cue, ::seection.

4- We use psedo-element because we want to style a specific part of element, and it is .
*/

/* Counters
1-How do we *count* in CSS - i.e. what declaration do we use?*/

  p {
    counter-reset: none ;
  }
/*
2- The way we reset a counter is, name the element by using a counter-reset and put the integrer property with a value of counter which you want to reset.

3- The counters are useful for numbering a web and it is more flexibility.
*/

/* Lists

1-The properties that are only related to lists:
-list-style,list-style-image:url()
-list-style-position:outside,inside
-list-style-type:square,disc,circle,emoji

2- The type of bullet styles are square, circle, disc, letters, roman numerals,uppercase roman numerals.

3- Yes, It can list a group of element by using display:list-item.


