* {
  /*
    Property name
    Property description
  */
    /* Property example with a value */

  }
  /* Color:
    Color sets text color according to value which you set.
  */
  p {
    color: navy;
  }
  /* Background-color:
    It sets color at the background of the document.
  */
  p {
    background-color:purple;
    color: orange;
  }

  /* Background-image:
    The background-image property sets one or more background images for an element. By default, a background-image is placed at the top-left corner of an element, and repeated both vertically and horizontally.Default value: none.
  */
  p {
    background-image: url(/fork-button.png);
    background-color: olive;
  }

  /* Background-repeat:
    It defines how background images are repeated.
  */
  p {
    background-repeat: round;
  }

  /* Background-position:
    It defines where a background image should be positioned within an element.
  */
  p{
    background-position: right;
  }
  /* Background-attachment:
    It sets whether a background image's position is fixed within the viewport, or scrolls with its containing block.
  */
  p {
    background-image: url(/);
    background-attachment: scroll;
  }

  /* Background-clip:
    It defines whether an element's background extends underneath its border box, padding box, or content box.
  */
  p {
    background-clip: content-box;
  }

  /* Background-origin:
    It determines how the background-position of a background in a certain box is calculated
  */
  p {
    background-origin: border-box;
  }

  /* Background-size:
    It sets the  size of the background images.
  */
  p {
    background-size: 2px;
  }

  /* Box-shadow:
    It inserts shadow effects around an element's frame.
  */
  p {
    box-shadow:12px 12px 2px 1px rgba(50, 50, 255, .2);
  }


