main > header {
  background-image:
                    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url("../images/bg_desktop.jpg");
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-block-start: 14rem;
  padding-block-end: 14rem;
  margin-block-end:  0rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: -11.1rem;
  background-position: center center;
  background-size: cover;
}

main > header h2 {
  font-size: 2rem;
  margin: 0;
}

main > header p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: -10rem;
}
