
body > nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-block-end: -9rem;
  margin-block-start: 1rem;
  text-align: center;
  margin-inline-end: 0rem;
}

body > nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

  nav ul li {
    margin: 0rem;
    display: inline;
  }

  body > nav li:first-child {
    margin-inline-start: 1rem;
  }

  body > nav li:last-child {
    margin-inline-end: 1rem ;
  }

nav ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}




