
 nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-block-end: -9rem;
  margin-block-start: 1rem;
  text-align: right;
  margin-inline-end: 0rem;
}

 nav ul {
  list-style: none;
  margin: 46px;
  text-align: right;
}
nav ul li a{
  margin: 1px;
}

  nav ul li {
    margin: 0rem;
    display: inline;
  }

nav li:first-child {
    margin-inline-start: 1rem;
  }

  nav li:last-child {
    margin-inline-end: 1rem ;
  }





