.article {
  text-align: center;
  text-decoration: none;
}
#post1 a {
  color: black;
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 0;
}
#post3 a {
  text-align: center;
  color: black;
  font-size: larger;
  margin: 1px 1px;
  text-decoration: none;
  border-block-start: 1px rgb(220,220,220) solid;

}



