/*
  We need the following numbering structure:

    1. Major clause `<h3>` separated by `<section>`s
      1.1. Clause (with a List) `<h4>` with a `<ol>` sibling
        a. List item `<li>`
        b. List item (with a List) `<li>` with a `<ol>` child
          i. Nested list item `<li>`
          ii. Nested list item `<li>`
          iii. Nested list item `<li>`
          iv. Nested list item `<li>`
          …
        c. List item `<li>`
        …
      1.2. Clause `<h4>`
      …
      1.13. Clause `<h4>`
    2. Major clause `<h3>` in a new `<section>`
    …
*/

body {
  counter-reset: section;
}
h3::before {
  counter-increment: section;
  content: "section" counter(section) ":" " ";
}

h3 {
  counter-reset: h4;
}

   h4::before {
  counter-increment: h4;
  content: counter(section) "." counter(h4 ) ". " " ";
  }

  li::before {
  counter-reset: li;
  }
  ol {
    counter-increment: li;
    content: counter(li) "." counter(ol) "." " ";
    list-style-type: lower-latin;
  }

  ol {
    counter-reset: ol;
  }
   li > ol {
    counter-increment: ol;
    content: counter(ol) "." counter(li) "." " ";
    list-style-type: lower-roman;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    width: 45rem;
  }

   h1 {
    font-size: 29px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }









