
header {
  padding: 2rem 1rem;
  margin-block-end: 1rem;
}
h1 {
  padding: 1rem;
  border: 1rem solid;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  display: block;
}
body {
  margin: 1rem;
}

table {
  padding:2rem 1rem;
}

 tr:nth-child(1) span {
  border-bottom: 1rem solid;
}
td:nth-child(1) {
  padding-right: 1rem;
}

tr:nth-child(2) span {
  border-top: 1rem solid;
  border-bottom: 1rem solid;
}
td:nth-child(2) {
padding-left: 1rem;
padding-right: 1rem;
}
tr:nth-child(3) span {
  border-top:1rem solid ;
}
td:nth-child(3) {
  padding-left:1rem;
}


footer {
  margin-block-start: 1rem;
  padding: 1rem;
}

footer > span {
  border: 1rem solid;
  display: block;
}

