body > header {
  color: #fff;
  line-height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-inline-start: 1rem;
}




body > header h1 {
  margin: 0;
  font-size: 2rem;
  font-family: sans-serif;

}

body > header a {
  color: inherit;
  text-decoration: none;
}
