
  .Dory {
  background-color: seagreen;
  background-image: url("../images/bubble.png"),
                    url("../images/crab.png"),
                    url("../images/coral-reef.png"),
                    linear-gradient(0deg,lightyellow 60%,seagreen 40%);
  background-position: 100px,
                       100px,
                       100px,
                       100px;
  background-repeat: repeat-x;
  background-size: 0% 0%,
                   30%,
                   30%,
                   50%,
                   100%;
}
 .Henry {
  background-color: beige;
  background-image:
                    url("../images/grass-tile.png"),
                    url("../images/sun.png"),
                    url("../images/grass-clump.png"),
                    url("../images/grass-left.png"),
                    linear-gradient(to top,lightyellow 70%,lightskyblue 40%);
  background-position: left,
                       top left,
                       center,
                       right;
  background-repeat:repeat-x,
                    no-repeat,
                    repeat-x,
                    repeat-x;
  background-size: 0% 0%,
                   10%,
                   50%,
                   50%,
                   50%,
                   100%;
 }

 .Lu-Seal {


  background-image: url("../images/sun.png"),
                    url("../images/beach-ball.png"),
                    url("../images/palm-2.png"),
                    url("../images/palm.png"),
                    linear-gradient(0deg,sandybrown 30%,seagreen 50%,lightskyblue 60%);
  background-color: white;
  background-position: 0% 0%,
                       50% 100%,
                       100% 100%,
                       100% 0%;
    background-size: 0%,
                     20%,
                     30%,
                     40%,
                     40%,
                     100%;
    background-repeat: no-repeat
                       no-repeat,
                       no-repeat,
                       repeat-x;



