
  .Dory {
  background-color: seagreen;
  background-image : linear-gradient(to bottom,rgba(30,75,151,1),rgba(100,50,30,0.5));
  background-image: url("../images/bubble.png"),
                    url("../images/crab.png"),
                    url("../images/coral-reef.png");
  background-position: top,right, bottom;
  background-repeat:  repeat,unset,repeat-y;
  background-size: 30%, 30%, 50%;
}
 .Henry {
  background-color: cornsilk;
  background-image:linear-gradient(to top,rgba(0, 250, 0, 0.356),rgba(250,250,0,0.5));
  background-image: url("../images/grass-tile.png"),
                    url("../images/grass-clump.png"),
                    url("../images/grass-left.png");
  background-position: left, center,right;
  background-repeat:repeat;
 }

 .Lu-Seal {
  background-color: lightskyblue;
  background-image: linear-gradient(to top,rgba(250, 0, 0, 0.5),rgba(0,250,0,0.5));
  background-image: url("../images/sun.png"),
                    url("../images/beach-ball.png"),
                    url("../images/palm-2.png"),
                    url("../images/palm.png");
  background-position: top left, bottom,bottom right,bottom left;
  background-repeat: no-repeat,no-repeat,repeat-x;
  background-size: 150px,200px,600px,400px


